annotated-doc
annotated-types
anyio
certifi
click
h11
httpcore
httpx
idna
psycopg2-binary
pydantic_core
PyMuPDF
pypdf
python-dotenv
python-multipart
starlette==0.50.0
typing-inspection
typing_extensions
fastapi==0.128.0
uvicorn
python-multipart
pydantic
PyMuPDF
requests
huggingface_hub[oauth]
psycopg2-binary
sqlalchemy
streamlit
pandas
openpyxl
groq
